{% macro submitFormButton(message, id, action) %}
    {% set id = id|default('submitForm') %}
    {% set id = id|default('create') %}
    <button class="btn btn-primary"
            data-event='{"event":"click", "method":"submitForm", "parameters":"#{{ id }}"}'>
        {% if action == 'edit' %}
        <i class="glyphicon glyphicon-edit"></i>
        {% else %}
        <i class="glyphicon glyphicon-plus-sign"></i>
        {% endif %}
        {{ message|trans }}
    </button>
{% endmacro %}