# This file is part of the NIM package.
# (c) Arnaud Langlade

default:
    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension:
            base_url: http://nim.dev/app_test.php
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2: ~
            browser_name: firefox

    suites:
        agency:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Nim\Component\Behat\FixtureContext
                - Nim\Bundle\WorkerBundle\Behat\WorkerContext
                - Nim\Bundle\WorkerBundle\Behat\AgencyContext
                - Nim\Bundle\WebBundle\Behat\WebContext
                - Nim\Bundle\CoreBundle\Behat\CoreContext
            filters:
                tags: "@agency"