# This file is part of the NIM package.
# (c) Arnaud Langlade

default:
    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension:
            base_url: http://nim.dev/app_test.php
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2: ~
            browser_name: firefox

    suites:
        agency:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Nim\Component\Behat\FixtureContext
                - Nim\Bundle\WorkerBundle\Behat\WorkerContext
                - Nim\Bundle\WebBundle\Behat\CollectionContext
                - Nim\Bundle\CoreBundle\Behat\CoreContext
                - Nim\Bundle\WebBundle\Behat\WebContext
            filters:
                tags: "@agency"
        worker:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Nim\Component\Behat\FixtureContext
                - Nim\Bundle\WorkerBundle\Behat\WorkerContext
                - Nim\Bundle\MissionBundle\Behat\MissionContext
                - Nim\Bundle\VaccineBundle\Behat\VaccineContext
                - Nim\Bundle\WebBundle\Behat\CollectionContext
                - Nim\Bundle\CoreBundle\Behat\CoreContext
                - Nim\Bundle\WebBundle\Behat\WebContext
            filters:
                tags: "@worker"
        vaccine:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Nim\Component\Behat\FixtureContext
                - Nim\Bundle\VaccineBundle\Behat\VaccineContext
                - Nim\Bundle\WebBundle\Behat\WebContext
                - Nim\Bundle\CoreBundle\Behat\CoreContext
                - Nim\Bundle\WebBundle\Behat\WebContext
            filters:
                tags: "@vaccine"
        mission:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Nim\Component\Behat\FixtureContext
                - Nim\Bundle\MissionBundle\Behat\MissionContext
                - Nim\Bundle\WorkerBundle\Behat\WorkerContext
                - Nim\Bundle\WebBundle\Behat\CollectionContext
                - Nim\Bundle\WebBundle\Behat\WebContext
                - Nim\Bundle\CoreBundle\Behat\CoreContext
                - Nim\Bundle\WebBundle\Behat\WebContext
            filters:
                tags: "@mission"
        dashboard:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Nim\Component\Behat\FixtureContext
                - Nim\Bundle\CoreBundle\Behat\CoreContext
                - Nim\Bundle\WorkerBundle\Behat\WorkerContext
                - Nim\Bundle\MissionBundle\Behat\MissionContext
                - Nim\Bundle\WebBundle\Behat\WebContext
            filters:
                tags: "@dashboard"
        account:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Nim\Component\Behat\FixtureContext
                - Nim\Bundle\CoreBundle\Behat\CoreContext
                - Nim\Bundle\WebBundle\Behat\WebContext
            filters:
                tags: "@account"