div.collection-item, div.choice-entity-block {
    display: inline-block;
    float: none;
    vertical-align: top;
}

div.collection-item .collection-button-remove {
    font-size: 20px;
    position: absolute;
    right: 4px;
    top: 1px;
    cursor: pointer;
}

div.collection-item .panel {
    position: relative;
    border-radius: 4px 4px 4px 4px;
    padding: 23px 25px 10px;
    margin: 10px 0;
}

.form-inline div.collection-item .panel,
div.collection-item .panel.unique-field {
    margin: 0;
    box-shadow: none;
    border: none;
}

div.collection-item .panel-body {
    padding: 0;
}

.collection-widget legend {
    position: relative;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.collection-widget .collection-button-add {
    position: absolute;
    top: 0;
    right: 0;
}

.form-inline div.collection-item  .panel .form-group,
div.collection-item .panel.unique-field .form-group {
    margin: 0;
}

.form-inline div.collection-item .collection-button-remove,
div.collection-item .unique-field .collection-button-remove {
    top: 9px;
}

.form-inline div.collection-item .panel,
div.collection-item .panel.unique-field {
    padding: 3px 25px 3px 12px;
}

div.collection-list .col-md-6 {
    width: 49%;
}

/** Phone */
.form-inline div.collection-item .form-group:nth-child(3) {
    width: 80%;
}

.form-inline div.collection-item .form-group:nth-child(3) input {
    width: 97%;
}

.form-inline div.collection-item .form-group:nth-child(2) {
    width: 20%;
}

.form-inline div.collection-item .form-group:nth-child(2) select {
    width: 100%;
}

.translated-form .tab-content {
    margin-bottom: 10px;
}

/** select2 fixes */
.select2-container .select2-choice {
    height: 34px;
    line-height: 34px;
}

#nim_worker_phones input,
#nim_agency_phones input {
    margin-left: 10px;
}

.panel label.expanded-choice-label {
    margin: 0;
    width: 100%;
}

.panel label p {
    font-weight: normal;
}

.panel label p.title {
    font-weight: bold;
}

.panel label p {
    margin: 0;
}

#nim_worker_missions .panel-body {
    padding: 6px 15px 4px;
}

/** mission */
#mission textarea.form-control {
    height: 300px;
}

#localeForm {
    width: 70px;
    float: right;
    margin-top: 9px;
}

table.table tbody tr td.list-action {
    max-width: 250px;
}

