parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     nim
    database_user:     root
    database_password: ~

    nim_locales: locales: [fr, es, en]

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            d944c282ee6ed52067cf17d37131942c
