{% extends 'NIMWebBundle::layout.html.twig' %}

{% import 'NIMFormBundle:bootstrap3:button.html.twig' as buttons %}

{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'mission.title.create'|trans }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.back(path('nim_mission_index'), 'button.backToList') }}
    {{ buttons.create('button.create', 'missionCreateForm') }}
{% endblock page_action %}


{% block content %}
    <form action="{{ path('nim_mission_create') }}"
          method="post"
          role="form"
          id="missionCreateForm"
          class="form-horizontal translated-form"
          novalidate>
        {% include 'NIMWebBundle:Mission:_form.html.twig' %}
    </form>
{% endblock %}