/* theme */
.mini-sidebar #content {
    margin-top: 106px;
}

.navbar-fixed-left {
    top:105px;
}

.head .main-bar h3 {
    margin-bottom: 7px;
    margin-top: 0;
    width: auto;
}

#top .topnav {
    margin: 10px;
}

.navbar-header {
    margin: 15px;
}

.navbar-brand {
    font-size: 22px;
}

.inner {
    border: none;
    padding: 10px;
}

/* Pagination */
.paginationContainer .paginate {
    padding-top: 10px;
}

ul.pagination {
    margin:10px 0
}

.topnav .welcome {
    padding-top: 5px;
    margin-right: 10px;
    color: #FFFFFF;
}
