/* theme */
.mini-sidebar #content {
    margin-top: 106px;
}

.navbar-fixed-left {
    top:105px;
}

.head .main-bar h3 {
    margin-bottom: 7px;
    margin-top: 0;
    width: auto;
}

#top .topnav {
    margin: 10px;
}

.navbar-header {
    margin: 15px;
}

.navbar-brand {
    font-size: 22px;
}

.inner {
    border: none;
    padding: 10px;
}

/* Pagination */
.paginationContainer .paginate {
    padding-top: 10px;
}

ul.pagination {
    margin:10px 0
}

.topnav .welcome {
    padding-top: 5px;
    margin-right: 10px;
    color: #FFFFFF;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

/** Table */
table.table tbody tr td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

table td:last-child {
    width: 135px;
}

.datepicker-days table td:last-child {
    width: auto;
}

table .worker-name .col-md-11, table .worker-name .col-md-1 {
    margin: 0;
    padding: 0;
}

table .worker-name i {
    font-size: 20px;
}

/** Form */
ul.form-type-errors, ul.form-type-legend {
    margin-bottom: 0px;
}

ul.form-type-errors li p, ul.form-type-legend li p {
    margin-bottom: 0px;
}

ul.form-type-legend, ul.form-type-errors {
    padding: 0;
}

div.collection-item {
    display: inline-block;
    float: none;
    vertical-align: top;
}

div.collection-item .collection-button-remove {
    font-size: 20px;
    position: absolute;
    right: 4px;
    top: 1px;
    cursor: pointer;
}

div.collection-item .collection-box {
    position: relative;
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    padding: 23px 25px 10px;
    margin: 10px 0;
}

.collection-widget legend {
    position: relative;
}

.collection-widget .collection-button-add {
    position: absolute;
    bottom: 0;
    right: 0;
}

div.collection-item .collection-box.unique-field .form-group {
    margin: 0;
}

.form-inline div.collection-item .collection-button-remove,
div.collection-item .unique-field .collection-button-remove {
    top: 17px;
}

.form-inline .form-group {
    margin: 0;
}

.form-inline div.collection-item .collection-box,
div.collection-item .collection-box.unique-field {
    padding: 12px 25px 12px 12px;
}

div.collection-list .col-md-6 {
    width: 49%; // Humm, why ?
}

/** Tab */
.nav-tabs a.text-danger, .nav-tabs .active a.text-danger {
    color: #B94A48;
}

.translated-form .tab-content {
    padding: 20px 10px 0 0;
    margin-bottom: 10px;
}

/** select2 fixes */
.select2-container .select2-choice {
    height: 34px;
    line-height: 34px;
}

/**  */
#nim_worker_phones input,
#nim_agency_phones input {
    margin-left: 10px;
}
