{% extends 'NimWebBundle::layout.html.twig' %}

{% import 'NimThemeBundle:Macro:button.html.twig' as buttons %}
{% from 'NimWebBundle:Misc:button.html.twig' import submitFormButton %}
{% from 'NimThemeBundle:Macro:button.html.twig' import formAction %}


{% block title %}
    {{ 'layout.page.title'|trans({'%page_title%' : 'mission.title.create'|trans}) }}
{% endblock %}


{% block page_name %}
    <i class="icon-malet"></i>
    {{ 'worker.title.create'|trans }}
{% endblock page_name %}


{% block content %}
    <form action="{{ path('nim_worker_create') }}"
          method="post"
          role="form"
          id="workerCreateForm"
          novalidate>
        {% include 'NimWebBundle:Worker:_create.html.twig' %}

        {{ formAction(path('nim_worker_index')) }}
    </form>
{% endblock %}
