{% macro pagination(paginator, options) %}
    <div class="paginationContainer row">
        <div class="col-md-10">
            {% if paginator.haveToPaginate()|default(false) %}
                {{ pagerfanta(paginator, 'twitter_bootstrap3_translated', options|default({})) }}
            {% endif %}
        </div>
        <div class="col-md-2 text-right paginate">
            {% if paginator | length %}
            {{ 'pager.displayBy' | trans }}
            {# TODO : rewrite it when the PR about the global conf will be merged.. #}
            <div class="btn-group">
                <a href="" class="btn btn-default">1</a>
                <a href="" class="btn btn-default">2</a>
                <a href="" class="btn btn-default">3</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
