header {
    background-color: #222222;
    border-color: #080808;
}

header .navbar-brand {
    padding: 0;
}

header .navbar-header {
    position: relative;
    top: 5px;
    left: 5px;
    width: 50px;
}

header .container-fluid {
    padding: 0;
}

header .action-button {
    position: relative;
    top: 8px;
    right: 5px;
}

textarea.form-control {
    height: 300px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    border-width: 0 0 1px;
    left: 0;
    position: fixed;
    right: 0;
}

.navbar-nav > li.current a {
    color: #FFF;
}

.navbar-nav .current {
    background-color: #404040;
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #404040;
}
.navbar-inverse .navbar-nav > li.dropdown.open a.dropdown-toggle {
    background-color: #404040;
}

.navbar-header {
    margin: 0;
}

.nav-second {
    background: none repeat scroll 0 0 #404040;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    height: 50px;
    padding: 8px;
}

.nav-second h1 {
    color: #BABABA;
    margin: 0;
    font-size: 30px;
    position: relative;
    top: 5px;
    left: 5px
}

.content {
    left: 0;
    padding: 10px 0 0 0;
    position: absolute;
    right: 0;
    top: 100px;
    margin-bottom: 38px;
}

.pagination-container.row,
.table-responsive.row {
    margin: 0;
}

/* Pagination */
.pagination-container .paginate {
    padding: 10px 0;
}

ul.pagination {
    margin:10px 0
}

.pagination-container ul.pagination {
    margin: 0
}


.pagination-container .dropdown-menu {
    left: inherit;
    min-width: 58px;
    right: 20px;
    width: 50px;
    top: 42px;
}
.pagination-container .dropdown-menu a {
    padding: 3px 0;
    text-align: center;
}

.expanded .pagination-container {
    margin-bottom: 14px;
}

/** Table */
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

table.table tbody tr td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

table td:last-child {
    width: 135px;
}

.datepicker-days table td:last-child {
    width: auto;
}

table .worker-name .col-md-11, table .worker-name .col-md-1 {
    margin: 0;
    padding: 0;
}

table .worker-name i {
    font-size: 20px;
}

/** Form */
.form-group {
    margin-bottom: 6px;
}

ul.form-type-errors, ul.form-type-legend {
    margin-bottom: 0;
}

ul.form-type-errors li p, ul.form-type-legend li p {
    margin-bottom: 0;
}

ul.form-type-legend, ul.form-type-errors {
    padding: 0;
}

.button-action {
    position: fixed;
    top: 58px;
    right: 5px;
    z-index: 1040;
}

/** filter */
.filter-header {
    cursor: pointer;
}

/** Tab */
.nav-tabs a.text-danger, .nav-tabs .active a.text-danger {
    color: #B94A48;
}

.tab-content {
    padding: 20px 10px 0 0;
}
