{% extends 'NIMWebBundle::layout.html.twig' %}

{% import 'NIMFormBundle:Bootstrap3:button.html.twig' as buttons %}
{% from 'NIMWebBundle:Misc:button.html.twig' import submitFormButton %}

{% block page_name %}
    <i class="icon-rocket"></i>
    {{ 'worker.title.create'|trans }}
{% endblock page_name %}


{% block page_action %}
    {{ buttons.back(path('nim_worker_index'), 'button.backToList') }}
    {{ submitFormButton('button.create', 'workerCreateForm') }}
{% endblock page_action %}


{% block content %}
    <form action="{{ path('nim_worker_create') }}"
          method="post"
          role="form"
          id="workerCreateForm"
          novalidate>
        {% include 'NIMWebBundle:Worker:_create.html.twig' %}
    </form>
{% endblock %}
